[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
opencv-python = "*"
numpy = "*"
pyzbar = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
xxhash = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.8"
